/* ================================= 
  Base Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
}

li, .name {
	background: white;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}

.main-footer { 
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}



/* ================================= 
  Base Styles
==================================== */


@media (min-width: 769px) {

	.wrap { 
		min-height: calc(100vh - 121px);
	}

	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.name,
	.main-nav,
	.main-nav li {
		display: inline-block;
	}

	.name { 
		width: 240px;
		margin-right: 50px;
		float: left;
	}

	.main-nav li { 
		margin-right: 14px;
		padding-right: 10px;
		padding-left: 10px;
		float: left;
	}

	.col {
		width: 50%;
		display: inline-block;
		
		margin-right: -4px;
		vertical-align: top;
		padding-left: 1em;
		padding-right: 1em;
		
	}

	.img1 { 
		float: left;
		margin: 1em;
	}

}