/* ================================= 
  Base Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	background-color: #f9f9d9;
}

li, .name {
	list-style-type: none;
	color: white;
	letter-spacing: 2px;
}


.name  { 
	padding-right: 45px;
}

li { 
	margin-top: 15px;
}

li:hover { 
	color: #bdbdbd;
}



/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 10px;
	background-color: #3a707f;
}

.main-footer { 
	text-align: center;
	padding: 1em 0;
	background-color: #40a6bd;
}



/* ================================= 
  Base Styles
==================================== */


@media (min-width: 769px) {

	.wrap { 
		min-height: calc(100vh - 121px);
	}

	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.name,
	.main-nav,
	.main-nav li {
		display: inline-block;
	}

	.name { 
		width: 240px;
		margin-right: 50px;
		float: left;
	}

	.main-nav li { 
		margin-right: 14px;
		padding-right: 10px;
		padding-left: 10px;
		float: left;
	}

	.col {
		width: 50%;
		display: inline-block;
		
		margin-right: -4px;
		vertical-align: top;
		padding-left: 1em;
		padding-right: 1em;
		
	}

	.img1 { 
		float: left;
		margin: 1em;
	}

}